:root {
    --cor-cabecalho-inicial: #8b0101 ;
    --cor-cabecalho-final: #ac0303 ;
    --cor-fundo-body: #f5f5f5 ;
    --cor-main: #fff;
    --cor-letras-link: #fff;
    --cor-rodade: #333;
    --cor-botao-cabecalho: #ffffff49;
    --cor-rodade: #333;
    --cor-titulo-h3: #862222;
}