*{
    margin: 1;
    padding: 0;

}


main {
    width: 50vw;
    margin: auto;

}

h1 {
    text-align: center;
}

p {
    line-height: 1.2;
}

.titulo1 {
    color: #2C3E50;
    background-color: #ECF0F1;
    font-size: 36px;

}

.subtitulo1 {
    color: #E74C3C;
    background-color: #F9EBEA;
    font-size: 28px;
}

.ptitulo2 {
    color: #30AE60;
    background-color: #E9F7EF;
    font-size: 36px;
}

.titulo2 {
    color: #30AE60;
    background-color: #E9F7EF;
    font-size: 28px;
}

.ptitulo3 {
    color: #F39C11;
    background-color: #FFF3E6;
    font-size: 36px;
}

.titulo3 {
    color: #F39C11;
    background-color: #FFF3E6;
    font-size: 28px;
}

.ptitulo4 {
    color: #8E44AD;
    background-color: #F5E6F5;
    font-size: 36px;
}

.titulo4 {
    color: #8E44AD;
    background-color: #F5E6F5;
    font-size: 28px;
}