body {
    width: 50vw;
    margin: auto;

}

h1 {
    text-align: center;
}

.titulo1 {
    color: #2C3E50;
    background-color: #ECF0F1;
}

.subtitulo1 {
    color: #E74C3C;
    background-color: #F9EBEA;
}

.titulo2 {
    color: #30AE60;
    background-color: #E9F7EF;
}

.titulo3 {
    color: #F39C11;
    background-color: #FFF3E6;
}

.titulo4 {
    color: #8E44AD;
    background-color: #F5E6F5;
}